<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A webpage where musicians can share their experiences with air companies and the musical instruments were handled by them.
  Read our rules and disclaimer  <%= link_to "here", help_path %>