<% provide(:title, "Help") %>
<h2>Disclaimer</h2>
<p>
Please consider that this is a manually maintained webpage. 
The info on the musical instrument checked/cabin rules of each flight company has a guidance purpose and might not be completely up to date 
so it is your responsability to check with the company's website or call center and see its latest status. 
  
</p>

<h2> Rules for writing reviews
</h2>
<ul>
	<li>Be polite!</li>
	<li>Write about both positive and negative experiences</li>
	<li>Reviews do not get published without admin approval. Mind your language or it doesn't get published</li>
	<li>Should a review be relevant and contain acceptable amount of frustration and bad language, 
		admins have the liberty to edit out these parts and re-formulate the sentences before publishing</li>
	<li>Writing a review on this website does not guarantee it will reach the flight company. The main purpose of the website is to 
share information between musicians, and not between musicians and flight companies</li>
</ul>			 
	
