<p>
	A list of all flight companies
	</p>
	<p>
	<%= link_to "Create new flight company",  newfc_path %>
	</p>

  



  <% @fcomps.in_groups_of(5, false) do |f| %>
  <br>
  
  <% f.each do |fcomp| %>
  
     <%= image_tag fcomp.logo.url unless fcomp.logo.blank? %> 
  
   	<% end %>
   	
    <% end %>