<% provide(:title, 'New Review for Flight Company') %>
<% provide(:button_text, 'submit') %>
<h1>New review for <%= @fcomp.name %></h1>
Add some explanation text
See if you can modify title text
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   
 
    <%= render 'reviewform' %> 
     
    
    
    <script type="text/javascript">
  $('#fcomp_logo').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert('Maximum file size is 1MB. Please choose a smaller file.');
    }
  });
</script>

  </div>
</div>